body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-light-blue-hsl: 200, 100%, 91%;
  --primary-blue-hsl: 200, 100%, 50%;
  --primary-dark-blue-hsl: 200, 100%, 6%;
  --primary-light-grey-hsl: 200, 0%, 91%;
  --primary-grey-hsl: 200, 0%, 50%;
  --primary-dark-grey-hsl: 200, 0%, 6%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* default css */

main {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 0 20%;
}

.button {
  background-color: hsl(var(--primary-grey-hsl), 0.4);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* Header */

.navbar {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(var(--primary-dark-grey-hsl));
  color: white;
}

.tourism-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li .signout-button {
  margin: 0;
  padding: 1rem;
  background: none;
  text-align: center;
  border: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.navbar-links li:hover {
  list-style: none;
  /* background-color: #555; */
  background-color: hsl(var(--primary-grey-hsl), 0.5);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  background: none;
  border: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .username {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
    align-items: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links li .signout-button {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* Login */

.login-full-screen-container {
  background-image: url("../public/login-background");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  --color: hsl(var(--primary-dark-blue-hsl), 0.7);
  background-color: hsl(var(--primary-dark-blue-hsl), 0.7);
  box-shadow: 0 0 15px 0 var(--color);
  padding: 40px 30px;
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
}

.login-title {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.login-input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.login-input-group label {
  color: white;
  font-weight: lighter;
}

.login-errmsg {
  color: white;
  font-weight: lighter;
}

.login-input-group input {
  font-size: 1.25rem;
  padding: 0.5em;
  background-color: hsl(var(--primary-light-blue-hsl), 0.3);
  border: none;
  outline: none;
  border-radius: 0.25em;
  color: white;
  font-weight: lighter;
}

.login-input-group input:focus {
  box-shadow: 0 0 2px 1px hsl(var(--primary-blue-hsl));
}

.login-button {
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-weight: lighter;
  color: white;
  background-color: hsl(var(--primary-blue-hsl), 0.25);
  border: 1px solid hsl(var(--primary-blue-hsl));
  border-radius: 0.25em;
  outline: none;
  cursor: pointer;
}

.login-button:hover,
.login-button:focus {
  background-color: hsl(var(--primary-blue-hsl), 0.4);
}

/* BoardList */

.boardlist-title {
  font-size: 2em;
  text-align: center;
}

.boardlist-table {
  width: 100%;
  max-width: 600px;
  --color: hsl(var(--primary-dark-blue-hsl), 0.7);
  box-shadow: 0 0 15px 0 var(--color);
  background-color: hsl(var(--primary-grey-hsl), 0.1);
  padding: 10px;
  border-radius: 0.25em;
}

.boardlist-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-weight: normal;
  background-color: hsl(var(--primary-dark-blue-hsl), 0.6);
  color: white;
}

.boardlist-table td,
.boardlist-table th {
  padding: 8px;
}

.boardlist-table tr:nth-child(even) {
  background-color: hsl(var(--primary-grey-hsl), 0.3);
}

.boardlist-table tbody tr {
  cursor: pointer;
}

.boardlist-table tbody tr:hover {
  background-color: hsl(var(--primary-light-blue-hsl), 0.99);
}
